body{

    background-image: url("./pradeep.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.navbar{
    margin-top: 25px;
    right: 50px;
    position: absolute;
}
.navbar:hover{
    color:rgb(43, 226, 58);
    
}
.schemes img{
    margin-top:470px ;
    position: absolute;
    left:480px ;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.cow img{
    margin-top:500px ;
    position: absolute;
    left:320px;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}


